.vertical-line {
    border-right: 2px solid #000; /* Adjust the color and width as needed */
    height: 8%; /* Full height of the parent container */
}

.queryInfo:hover {
    background-color: #EAF5FF
}  

.test{
    margin-bottom: -10px;
    margin-left: 150px;
    margin-right: 150px;
}

.drp{
    /* position: none !important; */
    margin-top: -80px !important;
    z-index: 3;
}

.topText {
    padding-top: 10px;
}

.middleText{
     margin-top:-15px
}

.travelDate{
    margin-top: 10px;
    margin-bottom: -1px;
}

.border-end {
    height : 120px
}

#parent_cardBody{
     padding : 0px
}

#wholeSearchArea{
    width: 80%;
    margin-left : 9%;
    /* margin-top : 20 */
}

.dayText {
    margin-top: -20px;
}

#changeQuerySelector{
    position: absolute;
    z-index: 3;
    /* width: 50%; */
    margin-left: 30%;
    margin-top: -4%;
    width: 15%;
}

#changeTrainImage{
    cursor: pointer;
}

#mainConatiner{
    margin-top: 8%;
}

.selecetedImage{
    margin-bottom: -8%;
    
}

.highlight{
    border-bottom: 3px solid black; 
}


